body{
    margin:auto 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif; /* google font added */
}
#head-color{
    color: rgba(211, 52, 52, 0.692); /* heading color */
}
#summary{
    color: rgba(210, 105, 30, 0.712);/* second part heading color */
}
.notify {
    color: red;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 15px;
    padding: 5px 20px;
    display: none; /* initial error message will not be shown*/
}